USE [master]
GO
/****** Object:  Database [T27-API_ER_SQL_EX3]    Script Date: 05/02/2021 17:19:55 ******/
CREATE DATABASE [T27-API_ER_SQL_EX3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'T27-API_ER_SQL_EX3', FILENAME = N'/var/opt/mssql/data/T27-API_ER_SQL_EX3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'T27-API_ER_SQL_EX3_log', FILENAME = N'/var/opt/mssql/data/T27-API_ER_SQL_EX3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [T27-API_ER_SQL_EX3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [T27-API_ER_SQL_EX3]
GO
/****** Object:  Table [dbo].[Cajeros]    Script Date: 05/02/2021 17:19:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cajeros](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[NomApels] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maquinas_Registradoras]    Script Date: 05/02/2021 17:19:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maquinas_Registradoras](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Piso] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 05/02/2021 17:19:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Precio] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 05/02/2021 17:19:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[Cajero] [int] NOT NULL,
	[Maquina] [int] NOT NULL,
	[Producto] [int] NOT NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[Cajero] ASC,
	[Maquina] ASC,
	[Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cajeros] ON 

INSERT [dbo].[Cajeros] ([Codigo], [NomApels]) VALUES (1, N'Cajero 1')
INSERT [dbo].[Cajeros] ([Codigo], [NomApels]) VALUES (2, N'Cajero 2')
INSERT [dbo].[Cajeros] ([Codigo], [NomApels]) VALUES (3, N'Cajero 3')
SET IDENTITY_INSERT [dbo].[Cajeros] OFF
GO
SET IDENTITY_INSERT [dbo].[Maquinas_Registradoras] ON 

INSERT [dbo].[Maquinas_Registradoras] ([Codigo], [Piso]) VALUES (1, 41)
INSERT [dbo].[Maquinas_Registradoras] ([Codigo], [Piso]) VALUES (2, 28)
INSERT [dbo].[Maquinas_Registradoras] ([Codigo], [Piso]) VALUES (3, 47)
SET IDENTITY_INSERT [dbo].[Maquinas_Registradoras] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Codigo], [Nombre], [Precio]) VALUES (1, N'Producto 1', 31)
INSERT [dbo].[Productos] ([Codigo], [Nombre], [Precio]) VALUES (2, N'Producto 2', 32)
INSERT [dbo].[Productos] ([Codigo], [Nombre], [Precio]) VALUES (3, N'Producto 3', 33)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
INSERT [dbo].[Venta] ([Cajero], [Maquina], [Producto]) VALUES (1, 7, 9)
INSERT [dbo].[Venta] ([Cajero], [Maquina], [Producto]) VALUES (2, 8, 10)
INSERT [dbo].[Venta] ([Cajero], [Maquina], [Producto]) VALUES (3, 6, 3)
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD FOREIGN KEY([Cajero])
REFERENCES [dbo].[Cajeros] ([Codigo])
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD FOREIGN KEY([Maquina])
REFERENCES [dbo].[Maquinas_Registradoras] ([Codigo])
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD FOREIGN KEY([Producto])
REFERENCES [dbo].[Productos] ([Codigo])
GO
USE [master]
GO
